
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    max-width: 300px;
  }
  
  .card-image {
    width: 250px;
    height: 300px;
    margin: 20px;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  .card-price, .card-rating {
    font-size: 1.3em;
    color: rgb(55, 52, 52);
    /* color: #555; */
  }
  
  .card-description {
    font-size: 0.9em;
    color: #777;
    margin-top: 8px;
  }
  